.background    { background: rgb(102, 153, 102);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 204, 0); }
.wall          { background: rgb(51, 51, 51);   }

.floater  {background: rgb(153, 51, 102);}

.actor  { position: absolute;  }
.player { background-image: url("image/ghostkitty.gif_c200");
        background-size: 30px 30px; }
.coin { background-image: url("image/coin.gif");
        background-size: 12px 12px;}
.queso { background-image: url("image/queso.png");
        background-size: 20px 20px;}
.teleport { background: rgb(51, 51, 51);}
.portal { background: rgb(255,153,204);}
.restart { background: rgb(51, 51, 51); }
.lift { background-image: url("image/fish.jpg");
        background-size: 20px 20px;}
.fish { background-image: url("image/owl.gif");
        background-size: 40px 40px;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px gold, 4px -7px 8px gold;
}
